@page
@model Ass02Solution.Pages.Manage.Accounts.EditModel
@{
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post">
            <fieldset class="border rounded-3 p-3">
                <legend class="float-none w-auto px-3">Modify account</legend>
                <input type="hidden" asp-for="Account.AccountId" />
                <div class="form-group">
                    <label asp-for="Account.UserName" class="control-label">Username</label>
                    <input asp-for="Account.UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Account.Password" class="control-label">Password</label>
                    <input asp-for="Account.Password" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Account.FullName" class="control-label">FullName</label>
                    <input asp-for="Account.FullName" class="form-control" />
                </div><div class="form-group">
                    <label asp-for="Account.Type" class="control-label">Type</label>
                    <select asp-for="Account.Type" class="form-control">
                        <option value="1">Admin</option>
                        <option value="0">Member</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
